{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "autoSense B2B Gateway",
    "termsOfService": "https://autosense.ch/en/terms-of-use/",
    "contact": {
      "email": "edmond@autosense.ch",
      "url": "https://autosense.ch"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://autosense.ch/wp-content/uploads/2018/09/autosense-logo.svg"
    },
    "description": "This service is proxy for core services allowing external partners to access autoSense data. Every integration of B2B customer using our standard models must be done over this endpoint.\n"
  },
  "tags": [
    {
      "name": "Fuel",
      "description": "Get current and historical fuel information for an IMEI."
    },
    {
      "name": "Mileage",
      "description": "Get current and historical mileage information for an IMEI."
    }
  ],
  "servers": [
    {
      "url": "https://nebula.service.autosense.ch/api/v1"
    }
  ],
  "paths": {
    "/asset/{asset_id}/fuel": {
      "parameters": [
        {
          "name": "asset_id",
          "in": "query",
          "description": "Asset ID of the MDI device, also known as IMEI",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Fuel"
        ],
        "summary": "Get current fuel information",
        "description": "Always returns the latest recorded fuel information for a given IMEI.\n",
        "operationId": "getFuel",
        "security": [
          {
            "basic_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fuel"
                },
                "example": {
                  "messageId": "mdi-1313382935323227381",
                  "asset": "3516220738006655",
                  "recordedAt\"": "2019-12-04T05:54:51Z",
                  "fuelLitres\"": 14.1,
                  "fuelLevel\"": 52
                }
              }
            }
          },
          "401": {
            "description": "Asset not whitelisted | Unauthorized"
          }
        },
        "x-code-samples": [
          {
            "lang": "SHELL",
            "source": "curl -X GET \\\n  'https://nebula.service.autosense.ch/api/v1/asset/351622073876050/fuel' \\\n  -H 'Authorization: Basic YXZyaW9zOkIzck4hNHZyMTBz'\n  "
          }
        ]
      }
    },
    "/asset/{asset_id}/fuel/history": {
      "parameters": [
        {
          "name": "asset_id",
          "in": "query",
          "description": "Asset ID of the MDI device, also known as IMEI",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Fuel"
        ],
        "summary": "Get historical fuel information",
        "description": "Returns the array of all fuel records between two given time period.\n",
        "operationId": "getFuelHistory",
        "security": [
          {
            "basic_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelArray"
                },
                "example": [
                  {
                    "messageId": "mdi-1313382935323227381",
                    "asset": "3516220738006655",
                    "recordedAt\"": "2019-12-04T05:54:51Z",
                    "fuelLitres\"": 14.1,
                    "fuelLevel\"": 52
                  },
                  {
                    "messageId": "mdi-1313382935323227382",
                    "asset": "3516220738006655",
                    "recordedAt\"": "2019-12-04T05:55:51Z",
                    "fuelLitres\"": 13.9,
                    "fuelLevel\"": 52
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Asset not whitelisted | Unauthorized"
          }
        },
        "x-code-samples": [
          {
            "lang": "SHELL",
            "source": "curl -X GET \\\n  'https://nebula.service.autosense.ch/api/v1/asset/351622073876050/fuel/history?fromDate=2019-12-01T05:54:51Z&toDate=2019-12-02T05:54:51Z' \\\n  -H 'Authorization: Basic YXZyaW9zOkIzck4hNHZyMTBz'\n  "
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "messageId": {
        "description": "Globally unique ID of the message sent from the in-car device",
        "type": "string",
        "length": 23,
        "example": "mdi-1313382935323211008"
      },
      "asset": {
        "description": "Asset ID of the in-car MDI device, also know as IMEI",
        "type": "string",
        "length": 15,
        "example": 351620003876050
      },
      "recordedAt": {
        "description": "The time when the data was recorded on the in-car MDI device",
        "type": "string",
        "length": 20,
        "example": "2019-12-04T05:54:51Z"
      },
      "fuelLitres": {
        "description": "Litres of fuel available in vehicle",
        "type": "double",
        "example": 12.7
      },
      "fuelLevel": {
        "description": "Volume of vehicle's fuel tank in litres",
        "type": "double",
        "example": 52
      },
      "Fuel": {
        "type": "object",
        "properties": {
          "messageId": {
            "$ref": "#/components/schemas/messageId"
          },
          "asset": {
            "$ref": "#/components/schemas/asset"
          },
          "recordedAt": {
            "$ref": "#/components/schemas/recordedAt"
          },
          "fuelLitres": {
            "$ref": "#/components/schemas/fuelLitres"
          },
          "fuelLevel": {
            "$ref": "#/components/schemas/fuelLevel"
          }
        }
      },
      "FuelArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Fuel"
        }
      }
    },
    "headers": {
      "ExpiresAfter": {
        "description": "date in UTC when token expires",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "securitySchemes": {
      "basic_auth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
