#  For more full example check out: https://github.com/APIs-guru/petstore_extended
openapi: 3.0.0
info:
  version: '1.0.0'
  title: autoSense Business API
  termsOfService: 'https://autosense.ch/en/terms-of-use/'
  contact:
    email: edmond@autosense.ch
    url: 'https://autosense.ch'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://autosense.ch/wp-content/uploads/2018/09/autosense-logo.svg'
  
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    **autoSense Business API** powers communication with your connected cars in a simple, secure and reliable way.
    Get information about your vehicles in real time or query our database for historical data.
    You can access fuel, mileage, plug/unplug information and more. 

    Learn more about how to perform these requests below.
   
# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: Fuel
    description: Get current and historical fuel information for an IMEI.
  - name: Mileage
    description: Get current and historical mileage information for an IMEI.
  - name: PlugUnplug
    description: |
      Retrieve actual or historical information whether the MDI device is connected to the car's OBD port. \ 
      A new record is created each time the status of the devices changes from `plugged` or `unplugged`.
servers:
  - url: 'https://nebula.service.autosense.ch/api/v1'
